.register {
    font-size: 14px;
    font-weight: bold;
}

.user-info-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.user-info-subbox {
    display: flex;
    margin: 10px;
}

.user-info__label {
    font-size: 14px;
    margin-right: 10px;
}

.user-info {
}
