.book {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
    border-bottom: var(--border_line);
    padding: 10px 10px;
    width: inherit;
}

.book__cover > img {
    height: 150px;
    border-radius: 5px;
    box-shadow: 0px 0px 7px;
    margin-right: 20px;
}

.book__info > span {
    display: block;
    margin-bottom: 15px;
}

.title {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.8);
}
.pub_date {
    font-size: 12px;
}

.author {
    font-size: 12px;
}

.publisher {
    font-size: 12px;
}

.my_bookshelf {
    font-size: 18px;
    display: flex;
    color: var(--blue);
}

.set_my_bookshelf {
    width: 100px;
    height: 25px;
    background-color: var(--blue);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
    font-size: 12px;
    margin: 0;
    display: none;
}

.is_my_bookshelf {
    display: none;
}

.checkbookshelf_show {
    display: inline-block;
}
