nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue);
    padding: 0px 15px;
    height: 40px;
    width: 100%;
    border-radius: 3px;
}

.logo__image {
    margin-right: auto;
}

.login {
    margin-left: auto;
}

.login_link {
    text-decoration: none;
    color: white;
}
.logo__title h1 {
    font-size: 18px;
    font-weight: bolder;
    color: white;
    /* margin: 0px 30px; */
}

.logo__title a {
    text-decoration: none;
    color: inherit;
}

.register .login_success {
    font-size: 14px;
}

.login_success,
.register__link {
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin: 0px 3px;
    display: none;
}

.login_success {
    display: none;
    /* display: inline-block; */
}

.login_success .fa-user-circle {
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 0px;
}

.show {
    display: block;
}

.header-manu {
    width: 100px;
    height: 100px;
    background-color: #62aeec;
    z-index: 80;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 40px;
    right: 10px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.tri {
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-right: 10px solid #62aeec;
    position: absolute;
    top: 30px;
    z-index: 80;
    right: 30px;
}
.user-manu {
    z-index: 90;
    font-size: 13px;
    font-weight: bold;
    color: white;
    margin-left: 10px;
}
