@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import "home.css";
@import "bookboard";
@import "write.css";
@import "detail.css";
@import "variables.css";
@import "check.css";
@import "header.css";
@import "bookinfo.css";
@import "footer.css";
@import "bookboard.css";
@import "searchresult.css";
@import "recentbooks.css";
@import "recentquestions.css";
@import "register.css";

@import "component/boardtitle.css";
@import "component/user.css";

* {
    font-family: "Noto Sans KR", sans-serif;
    box-sizing: border-box;
    line-height: 120%;
    /* color: rgba(0, 0, 0, 0.7); */
}

html {
    display: flex;
    justify-content: center;
    /* min-width: 400px; */
}

body {
    color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}
input {
    border: var(--border_line);
    border-radius: 3px;
}

input:focus {
    outline: none;
}

button:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}
