<div class="search-box">
    <img src="static/img/library.jpg" />
    <div class="welcome-area">
        <div class="container">
            <!-- 슬라이더 -->
            <div class="slide fade">
                책과 사람이 만나는 곳 북살롱입니다
            </div>
            <div class="slide fade">
                책을 읽고 궁금했던 질문을 올려주세요
            </div>
            <div class="slide fade">
                질문을 통해 책에 더 깊게 빠져보세요
            </div>
            <div class="slide fade">
                질문에 답하며 의견을 나눠 보세요
            </div>
            <!-- <a class="prev" id="Prev">&#10094;</a> -->
            <!-- <a class="next" id="Next">&#10095;</a> -->

            <div class="dots">
                <span class="dot" id="firstDot"></span>
                <span class="dot" id="secondDot"></span>
                <span class="dot" id="thirdDot"></span>
                <span class="dot" id="forthDot"></span>
            </div>
        </div>
    </div>
    <div class="search-box__search-bar">
        <form action="/search">
            <div>
                <i class="fas fa-search fa-sm"></i>
                <input type="text" name="param" class="search-box__input" placeholder="관심있는 책을 찾아보세요!" required />
            </div>
            <button type="submit">검색</button>
        </form>
    </div>
</div>