{% extends "base.html" %}
{% block content %}

<div class="content">
    {% include 'bookinfo.html' %}
    <div class="list-board">
        <div>
            <span class="board__title">질문리스트</span> <span class="board__desc"> | 책에대해 궁금한 질문들 입니다.</span>
        </div>
        <ul class="question__board">
            {% if question_list|length == 0 %}
            <li class="question__list">
                <div class="question">아직 질문이 없네요ㅜㅜ 이 책의 첫번째 질문을 해보세요!</div>
            </li>
            {% endif%}
            {%for question in question_list%}
            <li class="question__list">
                <div class="question__top">
                    <div class="writer">
                        {{question.writer}}
                    </div>
                    <div class="time">{{question.post_time}}</div>
                </div>
                <div class="question__bottom">
                    <a href="/detail?book={{book.isbn}}&qid={{question.q_id}}">
                        <div class="question">{{question.question_title}}</div>
                    </a>
                    <div class="reply">
                        {{question.reply}}
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="write_question">
        <button class="write" type="button" onclick="location.href='/write?book={{book.isbn}}'"><i
                class="fas fa-question"></i><span>질문쓰기</span></button>
    </div>
</div>

<script type="text/javascript" src="/static/js/bookboard.js"></script>
{% endblock content %}