<div class="book">
    <div class="book__cover">
        <img src="{{book.imgUrl}}">
    </div>
    <div class="book__info">

        <span class="title"><a href="/bookboard?book={{book.isbn}}">{{book.title}}</a> </span>
        <span class="author">저자 |
            {% for author in book.author %}
            {{author}}
            {% endfor %}
        </span>
        <span class="publisher">출판 | {{book.publisher}}</span>
        <span class="pub_date">출간일 | {{book.pubdate}}</span>
        <div class="my_bookshelf">
            <div class="is_my_bookshelf">
                <i class="fas fa-user-check "></i>
            </div>
            <button class="set_my_bookshelf" onclick="setBookshelfDb()">내책장에 추가</button>
        </div>
    </div>
</div>

<script type="text/javascript" src="/static/js/bookinfo.js"></script>