<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="static/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Booksalon</title>
</head>

<body>
    {% include 'header.html' %}

    <div class="board">

        <div class="check-form">
            <!-- <div>
                <span>비밀번호</span>
            </div> -->
            <div>
                <form class="check-form__box" action="/check_password?id={{id}}&reply_id={{reply_id}}&type={{type}}"
                    method="post">
                    <input class="check_password" name="password" type="text" placeholder="비밀번호를 입력해주세요">
                    <div>
                        <button class="check_btn" type="submit"><i class="fas fa-paper-plane"></i>보내기</button>
                    </div>
                </form>

            </div>
        </div>

    </div>
    {% include 'footer.html' %}

    <script>
        function write_question() {
            const writer = document.querySelector("question-info__wirter-input")
        }
    </script>
</body>

</html>