{% extends "base.html" %}
{% block content %}

<div class="board">
    <div class="check-form">
        <!-- <div>
                <span>비밀번호</span>
            </div> -->
        <div>
            <form class="check-form__box" action="/check_password?qid={{q_id}}&reply_id={{reply_id}}&type={{type}}"
                method="post">
                <input class="check_password" name="password" type="text" placeholder="비밀번호를 입력해주세요">
                <div>
                    <button class="check_btn" type="submit"><i class="fas fa-paper-plane"></i>보내기</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}