<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/user/login-header.js"></script>
<nav>
    <!-- <div class="logo__image">
        <img src="/">
    </div> -->
    <div class="logo__title">
        <a href="/">
            <h1>Book Salon</h1>
        </a>
    </div>
    <div class="register">
        <div class="login_success">
            <span id="user_id"></span>
            <i class="far fa-user-circle" onclick="dropdownMenu()"></i>
            <!-- <a href="/logout">
                로그아웃
            </a> -->
        </div>
        <div class="register__link">
            <a href="/login">
                로그인
            </a>
            <!-- <span>/</span>
            <a href="/register">
                회원가입
            </a> -->
        </div>
    </div>
    <div class="dropdown-menu">
        <div class="tri"></div>
        <div class="header-manu">
            <div class="user-manu"><a href="/mypage">마이페이지</a></div>
            <!-- <div class="user-manu"><a href="/bookshelf">내 책장</a></div> -->
            <div class="user-manu"><a href="/logout">로그아웃</a></div>
        </div>
    </div>
</nav>