<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/login.js"></script>
<nav>
    <!-- <div class="logo__image">
        <img src="/">
    </div> -->
    <div class="logo__title">
        <a href="/">
            <h1>Book Salon</h1>
        </a>
    </div>
    <div class="register">
        <div class="login_success">
            <span id="user_id"></span>
            <a href="/logout">
                로그아웃
            </a>
        </div>
        <div class="register__link">
            <a href="/login">
                로그인
            </a>
            <a href="/register">
                회원가입
            </a>
        </div>
    </div>
</nav>