<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <script src="static/js/function.js"></script>
    <title>Welcome to Booksalon</title>
</head>

<body>
    {% include 'header.html' %}
    <div class="search-box">
        <img src="static/img/library.jpg" />
        <div class="search-box__search-bar">
            <i class="fas fa-search fa-sm"></i>
            <form action="/search">
                <input type="text" name="param" class="search-box__input" placeholder="책 이름을 검색해 보세요" />
            </form>
        </div>
    </div>
    <div class="content">
        <h3 class="recent">사람들이 많이 이야기 하고 있는 책</h3>
        <div class="recent-book">
            {% for recent_booklist in recent_booklists %}
            <a href="/bookboard?book={{recent_booklist.isbn}}">
                <div class="recent-book__info">
                    <div class="recent-book__info__detail"><img class="recent-book__image"
                            src="{{recent_booklist.imgUrl}}"></div>
                    <div class="recent-book__info__detail">
                        <div class="recent-book__title">{{recent_booklist.title}}</div>
                        <div class="recent-book__author">{% for author in recent_booklist.author %}{{author}}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
        <h3 class="recent">사람들이 최근 올린 질문</h3>
        <div class="recent-question">
            <ul>
                {% if recent_questionlists is defined %}
                {% for recent_questionlist in recent_questionlists %}
                <li class="recent-question__list">
                    <div class="recent-question__booktitle">
                        &#60;{{recent_questionlist.title}}&#62;
                    </div>
                    <a href="/detail?book={{recent_questionlist.isbn}}&qid={{recent_questionlist.q_id}}">
                        <div class="recent-question__title">
                            {{recent_questionlist.question_title}}
                        </div>
                    </a>
                </li>
                {% endfor %}
                {% else %}
                {% endif %}
            </ul>
        </div>
    </div>
    {% include 'footer.html' %}
    <script src="https://kit.fontawesome.com/44da77f87a.js" crossorigin="anonymous"></script>

</body>

</html>