{% extends "base.html" %}
{% block content %}

<div class="content">
    {% include 'bookinfo.html' %}
    <div class="warning">
        질문글을 작성려면 로그인 해주세요!
    </div>
    <div class="board">
        <form action="/write_question?book={{book.isbn}}" method="post">
            <div>
                <input class="question__title" type="text" name="question_title" placeholder=" 제목을 입력하세요" required />
            </div>
            <div>
                <textarea class="question__text" name="question" placeholder=" 질문 내용을 입력하세요" required></textarea>
            </div>
            <div class="submit">
                <button class="btn" type="submit"><i class="fas fa-paper-plane"></i>보내기</button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" src="/static/js/write.js"></script>
{% endblock content %}