<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="static/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Booksalon</title>
</head>

<body>
    <nav>
        <div class="logo__image">
            <img src="/">
        </div>
        <div class="logo__title">
            <a href="/">
                <h1>Book Salon</h1>
            </a>
        </div>
        <div class="login">
            <a class="login_link" href="/">
                login
            </a>
        </div>
    </nav>


    <div class="book">
        <div class="book__cover">
            <img src="http://image.kyobobook.co.kr/images/book/xlarge/899/x9788965749899.jpg">
        </div>
        <div class="book__info">
            <span class="title"> 우리의 불행은 당연하지 않습니다</span>
            <span class="author">저자 | 김누리</span>
            <span class="publisher">출판 | 해냄출판사</span>
            <span class="pub_date">출간일 | 2020.3.6.</span>
        </div>
    </div>

    <div class="board">
        <form action="/write_question" method="post">
            <div class="question-info">
                <div class="question-info__writer">
                    <span>
                        작성자 :
                    </span>
                    <input class="question-info__wirter-input" name="writer" type="text" required />
                </div>
                <div class="question-info__password">
                    <span>
                        비밀번호 :
                    </span>
                    <input class="question-info__password-input" name="password" type="text" required />
                </div>
            </div>
            <div>
                <input class="question__title" type="text" name="question_title" placeholder=" 제목을 입력하세요" required />
            </div>
            <div>
                <textarea class="question__text" name="question" placeholder=" 질문 내용을 입력하세요" required></textarea>
            </div>
            <div class="submit">
                <button class="btn" type="submit"><i class="fas fa-paper-plane"></i>보내기</button>
            </div>
        </form>
    </div>


    <script>
        function write_question() {
            const writer = document.querySelector("question-info__wirter-input")
        }
    </script>
    <script src="https://kit.fontawesome.com/44da77f87a.js" crossorigin="anonymous"></script>
</body>

</html>