<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <title>Welcome to Booksalon</title>
</head>

<body>
    {% include 'header.html' %}
    <div class="content">
        <form class="register-form" method="post">
            <label class="userid">이메일</label>
            <div class="register-form_section">
                <input id="userId" type="text" placeholder="이메일" name="userId">
            </div>
            <label class="userid">비밀번호 </label>
            <div class="register-form_section">
                <input id="userPassword" type="password" placeholder="비밀번호" name="password">
            </div>
            <button class="write" type="submit" onclick="login()">로그인</button>
        </form>


    </div>
    {% include 'footer.html' %}
    <script src="https://kit.fontawesome.com/44da77f87a.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script type="text/javascript" src="/static/js/user/register.js"></script>
    <script type="text/javascript" src="/static/js/user/login.js"></script>
    <script type="text/javascript" src="/static/js/user/login-header.js"></script>


</body>

</html>