{% extends "base.html" %}
{% block content %}

<div class="content">
    <div class="login-title">마이페이지</div>
    <div class="user-info-box">
        <div class="user-info-subbox">
            <div class="user-info__label">이메일 : </div>
            <div class="user-info">{{userData.userId}}</div>
        </div>
        <div class="user-info-subbox">
            <div class=" user-info__label">닉네임 : </div>
            <div class="user-info">{{userData.userName}}</div>
        </div>
        <div class="user-info-subbox">
            <div class=" user-info__label">가입일시 : </div>
            <div class="user-info">{{userData.regDate}}</div>
        </div>
        <div class="user-info-subbox">
            <div class=" user-info__label">내책장에 추가된 책 : </div>
            <div class="user-info">{{userData.myBook|length}}권</div>
        </div>
    </div>

</div>

{% endblock content %}