<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <title>Welcome to Booksalon</title>
</head>

<body>
    {% include 'header.html' %}
    <div class="content">
        <div class="register">
            비밀번호를 확인해주세요
        </div>
        <form class="register-form" action="/register" method="GET">
            <button type="submit">돌아가기</button>
        </form>
        {% include 'footer.html' %}
        <script src="https://kit.fontawesome.com/44da77f87a.js" crossorigin="anonymous"></script>

</body>

</html>